<h1>Users list</h1>

<div class="user-grid">
  <% @users.each do |user| %>
    <article class="user-card">
    <div class="user-name">
    <%= link_to user.username, user %>
    </div>
    <article class="user-post">
    <% user.posts.last(3).reverse.each do |post| %>

    <li><%= link_to post.title, post %></li>

    <% end %>
    </article>
    </article>

    <% end %>



</div>
