<h1>Welcome to grumblr</h1>

<%= form_with(model: @user, local: true) do |f| %>
  <%= f.label :username %>
  <br>
  <%= f.text_field :username %>
  <br>
  <br>
  <%= f.submit 'Log in' %>
<% end %>
<p> Enter your username above to log in.<br> (If you don't have an account, one will be created for you!)</p>
