<% @posts.each do |post| %>
  <li>
    <%= link_to post.title %> - BROKEN LINK -
    <%= post.comments.name %>
    Posted on: <%= post.created_at.localtime.strftime("%B %d, %Y %I:%M:%S %p") %>
  </li>
<% end %>
</ul>

<%= @posts.second.title %>
